body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.3)), 
                url('R.M.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e5e7eb;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000;
}

/* Intro box */
.intro-box {
    background-color: rgba(128,0,128,0.5); /* رنگ بنفش شفاف */
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.start-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #facc15;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.start-btn:hover {
    background-color: #f59e0b;
    color: #fff;
}

/* Nav menu */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #facc15;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #f59e0b;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 10px #f59e0b;
}

/* Game cards */
.games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.game-card {
    background-color: rgba(128,0,128,0.5);
    color: #e5e7eb;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.game-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #facc15;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.game-card a:hover {
    background-color: #f59e0b;
    color: #fff;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #f59e0b;
}
